@use '../../../assets/assets-index.scss' as *;

.location-list-item {
	margin: 0.5rem auto;
	padding: 1rem;
	border: 1px solid $secondaryFontColor;
	border-radius: 0.5rem;
	width: 40vw;
	font-size: 1.5rem;
	&:hover {
		background-color: $hoverBackgroundColor;
	}
}

.new-location-form {
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	text-align: center;
}

.room-list-item-show {
	margin: 0.5rem auto;
	padding: 1rem;
	border-left: 1px solid $secondaryFontColor;
	width: 100px;
	&:hover {
		background-color: $hoverBackgroundColor;
	}

}

.room-list-item-hide {
	display: none;
}