@use '../../assets/assets-index.scss' as *;

.sign-in-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.subscription-container {
	margin-bottom: 1rem;
	.checkbox-container {
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1.2rem;
		.checkbox-and-label {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.checkbox {
			width: 2rem;
		}
	}
}

.GoogleOAuth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
