@use "../assets/index.scss" as *;

.home-page-container {
	background: $Background-gradient;
}

.home-page-list {
	margin: 0 auto;
	@include flex-col-center;
	margin-top: 5rem;
	max-width: 100vw;

	h2 {
		// max-width: 100%;
		height: auto;
		border-radius: 0.5rem;
		padding: 1rem;
		margin: 0.4rem;
	}
	h2:last-child {
		border: 1px solid $color-5;
		&:hover {
			cursor: pointer;
			background-color: $complementary-color-3;
		}
	}
}

.sign-up-bottom-link {
	text-decoration: none;
	&:visited {
		color: $color-5;
	}
}
