@use '../../assets/assets-index.scss' as *;

.home-description-container {
	@include flex-rowwrap-center;
	margin: 0 auto;
	max-width: 90vw;
	gap: 0.5rem;
	.item-description-container {
		padding: 1rem;
		width: 300px;
		height: 300px;
		border: 2px solid $secondaryFontColor;
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: space-around;
		&:hover {
			border-color: $primaryFontColor;
			background-color: $hoverBackgroundColor;
		}
	}
}
