@use "../assets/index.scss" as *;

.top-nav-row {
	background: $nav-gradient;
	color: $color-5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.top-nav-left-col {
		padding-left: 1rem;
		.h1 {
			font-size: 1rem;
		}
	}
	.top-nav-right-col {
		display: flex;
		flex-direction: row;
		padding-right: 1rem;
		.nav-icon {
			margin-left: 1rem;
			font-size: 2rem;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.nav-icon {
	transition: transform 0.5s ease-in-out;
	&.rotated {
		transform: rotate(-135deg);
	}
}
