@use "../assets/index.scss" as *;

.settings-modal {
	font-family: $font-1;
	font-family: $font-2;
	position: fixed;
	top: 90px;
	left: 50%;
	transform: translate(-50%, 0);
	height: 88%;
	width: 100vw;
	max-width: none;
	background-color: $color-3;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.modal-body {
	@include flex-col-center;
	margin: 4rem 1rem 2rem 1rem;
	font-size: 2rem;
	font-weight: bold;
	p {
		margin: 1rem;
	}
}

.modal-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 2rem;
	.nav-button {
		height: 5rem;
		width: 20rem;
		border: none;
		border-radius: 1rem;
		background-color: $color-1;
		color: $color-5;
		font-size: 1.5rem;
		&:hover {
			cursor: pointer;
			background-color: $color-5;
			color: $color-1;
			font-weight: bold;
		}
	}
}

p {
	&:hover {
		cursor: pointer;
		color: $color-4;
		font-weight: bold;
	}
}

.modal-open {
	opacity: 1;
}
.modal-closed {
	opacity: 0;
}
