@use '../assets/assets-index.scss' as *;

.icon {
	color: $secondaryFontColor;
	margin: 1rem auto;
	font-size: 1.5rem;
}

.regular-button {
	margin: 1rem;
	margin-top: 2rem;
	width: 150px;
	height: 60px;
	background-color: $secondaryFontColor;
	border: 2px solid $backgroundColor;
	border-radius: 0.5rem;
	font-weight: bold;
	font-size: 1rem;
}
