@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin fixed-bottom-buttons {
  position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 1rem;
}