@use "../assets/assets-index.scss" as *;

.top-nav-link-list {
	@include flex-row-even;
	gap: 20px;
	margin: 0 auto;
	padding-bottom: 0.8rem;
	width: 80vw;
	border-bottom: 1px solid $secondaryFontColor;
	// border-width: 0.25rem;
	.nav-link {
		padding: 0.25rem;
	}
}
