body {
  margin: 2rem auto;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 1rem;
  text-align: center;
}

.active {
  color: orange
}