#root {
	margin: 0;
	padding: 0;
	height: 100vh;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
	background-color: rgb(175, 210, 255);

}

h1,
h2,
h3 {
	margin: 1rem;
}

a {
	text-decoration: none;
}