@use '../../assets/assets-index.scss' as *;
@forward './locations/locations.scss';
@forward './rooms/rooms.scss';
@forward './items/items.scss';

.element-index-name-and-new-button {
  @include flex-row-center;
  gap: 2rem;
};

.new-element-button-in-list {
  padding: 0.25rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-bottom: 1px solid $navigationLinkColor;
  border-radius: 0.5rem;
  width: max-content;
}

.room-and-item-list {
  padding: 0.5rem;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
  border-bottom: 1px solid $navigationLinkColor;
  border-radius: 0.5rem;
};

.room-and-item-link {
}