@use "../assets/index.scss" as *;

.sign-in-up-form {
  position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	@include flex-col-center;
	gap: 1rem;
	margin-bottom: 1rem;
	.text-input-group {
		@include flex-col-center;
    gap: 0.5rem;
		.input-label-class {
      font-size: 1.5rem;
			color: $color-5;
		}
		.input-text-class {
      height: 2rem;
			width: 10rem;
		}
	}
}
