@use "../../assets/index.scss" as *;

.locations-form {
  @include flex-col-center;
  gap: 1rem;
  .form-group {
    @include flex-col-center;
    gap: 0.5rem;
    .form-control {
      height: 2rem;
      width: 60vw;
    }
    .form-control-text-area {
      height: 5rem;
      width: 60vw;
    };
  }
}